body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

h1 {
    /* font-size: 24px; */
    margin-bottom: 24px;
}

input {
    padding: 6px;
    font-size: 16px;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 6px;
    text-align: center;
}

th {
    background: #ddd;
}

.accepted {
    color: green;
    font-weight: bold;
}

.rejected {
    color: red;
    font-weight: bold;
}
